@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Roboto+Slab&family=Source+Serif+Pro:ital,wght@0,400;0,600;1,400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Abel&family=Montserrat:wght@100&family=Nunito&family=Rajdhani:wght@300&family=Roboto+Mono:wght@100;200&family=Roboto+Slab&family=Source+Serif+Pro:ital,wght@0,200;0,300;0,400;0,600;1,400&display=swap');


* {
    padding: 0vmax;
    margin: 0vmax;
    box-sizing: border-box;
    font-family: 'Source Serif Pro', serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(252, 241, 236);
}

.container {
    background-color: white;
    width: 550px;
    height: 330px;
    display: flex;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0px 0px 20px rgba(194, 188, 188, 0.678)
}

.img {
    margin: 0;
    width: 50%;   
}

.img img {
    width: 275px;
    height: 330px;
}

.textContent {
    width: 50%;
    margin: 30px;
    margin-top: 50px;
    /* padding: 25px; */
    /* background-color: blueviolet; */
}

.header {}

.heading {
    word-spacing: 5px;
    font-weight: 600;
    font-size: x-large;
    color: rgba(32, 32, 32, 0.836);
}

.tagline {
    color: rgba(194, 188, 188, 0.89);
    font-family: 'Syncopate', sans-serif;
    font-weight: lighter
}

.content {
    margin-top: 35px;
    font-weight: bold;
    font-size: small;
    color: grey;
    line-height: 1.3rem;
}

.footer {
    /* background-color: aqua; */
    margin-top: 35px;
    display: flex;
    justify-content: space-between;

}

.price{
    color: rgba(32, 32, 32, 0.836) ;
    font-weight: bold;
    font-size: xx-large;
}

.btn{
    font-family: 'Syncopate', sans-serif;
    
    color: white;
    background-color: rgb(146, 236, 229);
    font-size: x-small;
    border: none;
    border-radius: 30px;
   
    height: 40px;
    width: 130px;

}