* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.container {
    height: 7.5px;
    width: 1px;
    background: black;
    transform: rotate(90deg);
    position: absolute;

}

.container::after {
    content: "";
    position: absolute;
    right: -1.5px;
    top: 3.8px;
    height: 5px;
    width: 1px;
    background: black;
    transform: rotate(45deg);
    animation: top 2s both infinite;
}

.container::before {
    content: "";
    height: 5px;
    width: 1px;
    background-color: black;
    position: absolute;
    right: 1.5px;
    top: 3.9px;
    transform: rotate(-45deg);
    animation: bottom 2s both infinite;

}

@keyframes top {
    0% {
        transform: rotate(0deg);
        /* transition: all; */
    }

    /* 50% {
        transform: rotate(80deg);
    }

    100% {
        transform: rotate(150deg);
    } */

}

@keyframes bottom {
    0% {
        transform: rotate(0deg);
        /* transition: all; */
    }
}