* {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: grey;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(26, 180, 6, 0.432);


}

.container {
    width: 800px;
    box-shadow: 0px 2px 8px 0px rgb(105, 99, 99);
}

.navbar {
    padding: 20px;
    border-bottom: 2px solid rgba(194, 187, 187, 0.205);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(245, 241, 241);

}

.navRight {
    height: 30px;
    width: 30px;
    background: none;
    border: none;
    font-size: larger;
}

.layout {
    display: flex;
}

.img {

    height: 350px;
    width: 50%;
    background-color: white;
    border-right: 2px solid rgba(194, 187, 187, 0.205);
}

.img img {
    width: 175px;
    padding: 25px 100px;
}


.textContainer {
    background-color: white;
    width: 50%;
    padding: 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
}

.heading {}

.header {
    font-weight: lighter;
    color: rgba(15, 15, 15, 0.781);
}

.tagline {
    /* line-height: 2.2rem; */

}

.price {
    margin-top: 25px;
    font-size: xx-large;
    color: rgba(15, 15, 15, 0.781);
}

.note {
    margin-top: 10px;
    line-height: 1.5em;
}

.price {
    font-weight: lighter;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.btn {
    height: 25px;
    width: max-content;
    margin-bottom: 20px;

}

.btns {

    font-size: large;
    color: rgba(15, 15, 15, 0.781);
    width: 165px;
    padding: 8px;
    background-color: white;
    border-radius: 2px;
    border: 2px solid rgba(194, 187, 187, 0.486);
}