* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.container {
    height: 3.5px;
    width: 15px;
    border: 1px solid black;
    position: absolute;
    position: absolute;
    transform: rotate(-45deg);
    border-radius: 1px;
    top: 55px;
    left: 125.5px;
    animation: pen 3s both infinite

}

.container::after {
    content: "";
    border: 1.5px solid transparent;
    border-top: 3px solid rgb(12, 9, 9);
    position: absolute;
    transform: rotate(90deg);
    top: -1.5px;
    left: -5.6px;
}

@keyframes pen {

    0% {
        transform: rotate(-150deg);
        transform-style: flat;
        transform-origin: -20px;
        
    }
    50% {
        transform: rotate(-250deg);
        transform-style: flat;
        transform-origin: 30px;
    }
    50% {
        transform: rotate(180deg);
        transform-style: flat;
        transform-origin: 10px;
    }
}
